.search-container {
  position: relative;
}

.search-icon {
  position: absolute;
  top: 1.35rem;
  left: 12.2rem;
  font-size: 1.2rem;
}

.search-bar {
  border-radius: 20rem;
  border: 1px solid #727a81;
  font-family: "Rubik", sans-serif;
  padding: 1.1rem 3.2rem;
  width: 75%;
}

.last-updated-time {
  background-color: white;
  position: sticky;
  font-family: "Rubik", sans-serif;
  font-size: .8em;
  top: 0;
  padding: .95em .75rem;
  z-index: 999;
}

.carpark-list {
  list-style: none;
  padding: 0;
}

.carpark-list a {
  color: black;
  text-decoration: none;
}

.carpark-info-card {
  border: 1px solid rgb(223, 223, 223);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  border-radius: .6em;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  position: relative;
  padding: 1.5em;
  height: 16em;
}

.lots-available {
  display: inline-block;
  font-size: 1.1em;
  font-weight: 500;
  position: relative;
  margin-top: .5em;
  margin-bottom: 1em;
}

.lots-available::after {
  background-color: #FFB81C;
  bottom: -.1em;
  content: '';
  height: .175em;
  left: 0;
  position: absolute;
  width: 100%;
}

.carpark-name {
  font-weight: 400;
  margin-top: .55em;
}

.carpark-icon-container {
  padding-right: 0.5em;
}

.carpark-icon {                                                                                                                                                                                                                                                                                                                                                                                                                                                            
  font-size: 1.65em;
}

.carpark-code {
  margin-top: 0.5em;
}

.tags-container {
  margin-top: 1em;
}

.tag {
  border-radius: 500px;
  font-size: .85em;
  padding: .3em .8em;
  margin-bottom: .5rem;
}

.hdb-tag {
  border: 1px solid #A1000E;
  color: #A1000E;
}

.lta-tag {
  border: 1px solid #135DD8;
  color: #135DD8;
}

.ura-tag {
  border: 1px solid #E10600;
  color: #E10600;
}

.free-parking-tag {
  border: 1px solid #0F52BA;
  color: #0F52BA;
}

.pagination {
  list-style: none;
  font-family: "Rubik", sans-serif;
}

.pagination-item {
  height: auto;
  padding: 1em 0.8em;
  width: auto;
}

.pagination-item:hover {
  background-color: #E1E5E8;
  border-radius: .6rem;
}

.pagination-item:hover .pagination-link {
  color: black;
}

.pagination-link {
  color: #135DD8;
  padding: 1em 0.8em;
  text-decoration: none;
}

.pagination-item-selected, .pagination-item-selected:hover {
  background-color: #135DD8;
  border-radius: .6rem;
}

.pagination-item-selected .pagination-link, .pagination-item-selected:hover .pagination-link {
  color: white;
}

@media (max-width: 575.98px)  {
  .search-icon {
    top: 1.08rem;
    left: 1.9rem;
    font-size: 1rem;
  }

  .search-bar {
    font-size: 0.9rem;
    padding: .85rem 2.8rem;
    width: 100%;
  }
}
