.last-updated-time {
  background-color: white;
  position: sticky;
  font-family: "Rubik", sans-serif;
  font-size: .8em;
  top: 0;
  padding: .95em .75rem;
  z-index: 999;
}

.carpark-list {
  list-style: none;
}

.carpark-list a {
  color: black;
  text-decoration: none;
}

.carpark-info-card {
  border: 1px solid rgb(223, 223, 223);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  border-radius: .6em;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  position: relative;
  padding: 1.5em;
  height: 16em;
}

.lots-available {
  display: inline-block;
  font-size: 1.1em;
  font-weight: 500;
  position: relative;
  margin-top: .5em;
  margin-bottom: 1em;
}

.lots-available::after {
  background-color: #FFB81C;
  bottom: -.1em;
  content: '';
  height: .175em;
  left: 0;
  position: absolute;
  width: 100%;
}

.carpark-name {
  font-weight: 400;
  margin-top: .55em;
}

.carpark-icon-container {
  padding-right: 0.5em;
}

.carpark-icon {                                                                                                                                                                                                                                                                                                                                                                                                                                                            
  font-size: 1.65em;
}

.carpark-code {
  margin-top: 0.5em;
}

.tags-container {
  margin-top: 1em;
}

.tag {
  border-radius: 500px;
  font-size: .85em;
  padding: .3em .8em;
  margin-bottom: .5rem;
}

.hdb-tag {
  border: 1px solid #A1000E;
  color: #A1000E;
}

.lta-tag {
  border: 1px solid #135DD8;
  color: #135DD8;
}


.ura-tag {
  border: 1px solid #E10600;
  color: #E10600;
}

.free-parking-tag {
  border: 1px solid #0F52BA;
  color: #0F52BA;
}
