.logo { 
  width: 80%;
}

.navbar-btn {
  font-size: 0.9em !important;
  padding: 1em 1.2em !important;
}

@media (max-width: 575.98px)  {
  .logo { 
    width: 95%;
  }

  .navbar-btn {
    font-size: 0.85em !important;
    padding: 0.9em 1em !important;
  }
}
