.searchBarContainer {
    margin: 2em auto;
}

.searchBar {
    border-radius: .5em;
    border: 1px solid #495057;
    padding: .9rem .75rem;
    outline: none;
    width: 100%;
}

.skeleton {
    border: none !important;
}

.skeleton h4 {
    background-color: rgb(228, 228, 228);
    height: 1em;
}

.skeleton p {
    background-color: rgb(228, 228, 228);
    height: 1em;
    width: 80%;
}

.skeleton .tags {
    border: none;
    background-color: rgb(228, 228, 228);
    height: 1.4em;
    width: 20%;
}